<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICA WEB</title>
    <link rel="stylesheet" href="/css/base.css" />
    <%- style %>
  </head>
  <body>
    <header class="main-header">
      <div class="logo">
        <a href="/">ICA WEB</a>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/pay-donate">Dontate</a></li>
          <% if(user) {%>
          <li><a href="/dashboard">Dashboard</a></li>
          <% } else { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% } %>
        </ul>
      </div>
    </header>
    <main><%- body %></main>
    <%- script %>
  </body>
</html>
