<link rel="stylesheet" href="/css/payment.css" />

<section class="payment">
  <div class="container-md">
    <h2>Payment Cancel Page</h2>
    <p>Your payment is cancelled. Try again</p>
  </div>
</section>
