<link rel="stylesheet" href="/css/payment.css" />

<section class="payment">
  <div class="container-md box-row">
    <h2>Payment Success Page</h2>
    <p>Thanks for your donation. We received it.</p>
  </div>
</section>
