<link rel="stylesheet" href="/css/home.css" />

<section class="home">
  <div class="container-sm box-row">
    <h2>Image Classifier App</h2>
    <p>
      Currently, we are offering image model prediction service in free but we
      need a small amount of donation to maintain to our server
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, debitis
      corporis. Rem eius provident eaque quas dolorum atque quibusdam commodi
      pariatur dolore minus? Nihil, ipsa?
    </p>

    <div class="action-btns">
      <a href="/services" class="btn">Get Started</a>
    </div>
  </div>
</section>
