<link rel="stylesheet" href="/css/home.css" />

<section class="home">
  <div class="container-sm box-row">
    <h2>Image Classifier App</h2>
    <p>
      It's an ML based web application. The main purpose of this app is to
      import ML model prediction feature inside web application using NODE JS
      platform.
    </p>
    <p>
      Currently, we are offering image model prediction service in free but we
      need a small amount of donation to maintain to our server
    </p>

    <div class="action-btns">
      <a href="/services" class="btn">Get Started</a>
    </div>
  </div>
</section>
