<style>
  .img-container {
    max-width: 30rem;
    margin: 0 auto;
  }

  .img-item {
    width: 25rem;
    /* height: 25rem; */
  }
</style>

<section>
  <h2>Predict by database (limit 1 image)</h2>
  <p>Currently you have <%= products.length %> product(s)</p>
  <div id="showResult"></div>
  <div id="resultFormat"></div>
</section>

<section>
  <h2>Store your image into DB to classify</h2>
  <form action="/store-product" method="POST" enctype="multipart/form-data">
    <div>
      <!-- <label for="userId">Current User</label> -->
      <input type="hidden" name="userId" value="<%= user.id %>" required />
    </div>
    <br />
    <div>
      <label for="productFile">File to upload</label>
      <input type="file" name="productFile" id="productFile" required />
    </div>
    <button type="submit">Save</button>
  </form>
</section>

<section>
  <h2>Your stored images into DB</h2>
  <p>Delete it to upload a new one for testing purpose</p>
  <ul>
    <% products.forEach(function(result){ %>
    <li>
      <img src="/images/dog-2.jpg" alt="" />
      <div>
        <a href="" class="btn">Predict Now</a>
        <a href="" class="btn">Delete</a>
      </div>
    </li>
    <% }); %>
  </ul>
</section>
