<style>
  .img-container {
    max-width: 30rem;
    margin: 0 auto;
  }

  .img-item {
    width: 25rem;
    /* height: 25rem; */
  }
</style>

<section>
  <h2>Predict by database (limit 1 image)</h2>
  <div id="showResult"></div>
  <div id="resultFormat"></div>
</section>

<section>
  <h2>Store your image into DB to classify</h2>
  <form action="" method="POST">
    <input type="file" name="" id="" />
    <button type="submit">Save</button>
  </form>
</section>

<section>
  <h2>Your stored images into DB</h2>
  <p>Delete it to upload a new one for testing purpose</p>
  <ul>
    <li>
      <img src="/images/dog-2.jpg" alt="" />
      <div>
        <a href="" class="btn">Predict Now</a>
        <a href="" class="btn">Delete</a>
      </div>
    </li>
  </ul>
</section>
