<link rel="stylesheet" href="/css/services.css" />

<section class="services">
  <div class="container-sm">
    <h2>Our Services</h2>
    <ul class="service-list">
      <li class="service-item box-card">
        <img src="/images/service-demo.jpg" alt="" />
        <div class="service-info">
          <h4>Image classify with web link</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
            reiciendis mollitia pariatur commodi inventore eum rem veniam
            consequuntur consequatur labore.
          </p>
          <a href="/predict-url" class="btn">Try Now</a>
        </div>
      </li>
      <li class="service-item box-card">
        <img src="/images/service-demo.jpg" alt="" />
        <div class="service-info">
          <h4>Image classify with storage</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
            reiciendis mollitia pariatur commodi inventore eum rem veniam
            consequuntur consequatur labore.
          </p>
          <a href="/predict-db" class="btn">Try Now</a>
        </div>
      </li>
    </ul>
  </div>
</section>
