<section>
  <h2>Our Services</h2>
  <ul>
    <li>
      <div>
        <h4>Image Classify with url</h4>
        <a href="/predict-url" class="btn">Try Now</a>
      </div>
    </li>
    <li>
      <div>
        <h4>Image Classify with database</h4>
        <a href="/predict-db" class="btn">Try Now</a>
      </div>
    </li>
  </ul>
</section>
