@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  /* set sizes */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-11: 2.75rem;
  --space-12: 3rem;

  /* set up colors */
  --color-gray-100: #c5d3e2;
  --color-gray-300: #acbac9;
  --color-gray-500: #8c9aa9;
  --color-gray-1000: #3c4a59;
  --color-gray-1100: #2c3a49;
  --color-gray-1200: #1c2a39;

  --color-black-500: #8c9aa9;
  --color-black-900: #505050;
  --color-black-1000: #404040;
  --color-black-1100: #303030;
  --color-black-1200: #1c1917;

  --color-blue-900: #0057a0;
  --color-blue-1000: #004790;
  --color-blue-1100: #003780;
  --color-blue-1200: #102770;

  --border-radius-sm: 4px;
  --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font: inherit;
  /* background-color: #ececee; */
  background-color: #f0f2f8;
  color: var(--color-gray-1100);

  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

.main-header {
  background-color: var(--color-black-1200);
  display: flex;
  justify-content: space-between;
  padding: var(--space-6) var(--space-8);
  width: 100%;
}

.main-header .logo {
  font-size: var(--space-6);
  font-weight: bolder;
  text-transform: uppercase;
}

.main-header ul {
  display: flex;
  /* justify-content: space-between; */
}

.main-header li {
  margin: var(--space-1) var(--space-2);
}

.main-header a {
  color: var(--color-gray-300);
  font-weight: bold;
}

.main-header ul a {
  color: var(--color-gray-100);
  text-transform: uppercase;
  /* font-weight: bold; */
  font-weight: 400;
}

main {
  padding: var(--space-8);
  text-align: center;
}

footer {
  background-color: var(--color-gray-100);
  display: flex;
  justify-content: space-between;
  padding: var(--space-2) var(--space-8);
  font-weight: bold;
}

a.btn,
button.btn {
  background-color: var(--color-blue-1000);
  color: var(--color-gray-100);
  padding: var(--space-2) var(--space-4);
  border-radius: 4px;
  text-transform: uppercase;
  /* font-weight: 600; */
  font-weight: 400;
  display: inline-block;
  margin: 0 var(--space-2) 0 0;
  /* outline: none; */
}

a.btn:hover,
a.btn:active,
button.btn:hover,
button.btn:active {
  cursor: pointer;
  background-color: var(--color-blue-1200);
  outline: none;
}

.btn-sm-trash {
  padding: var(--space-2);
  margin: auto;
  /* background-color: #fd1818; */
}

section h2 {
  /* font-size: var(--space-6); */
  font-size: var(--space-8);
  /* text-transform: uppercase; */
}

section h4 {
  font-size: var(--space-6);
}

.section-hero {
  width: 95%;
  /* max-width: 960px; */
  max-width: 10240px;
  margin: var(--space-8) auto;
  padding: var(--space-12) var(--space-8);
}

.box-card {
  background-color: #f3f3f3;
  border-radius: 4px;
  box-shadow: var(--shadow-md);
}

.box-card-p {
  background-color: #f3f3f3;
  border-radius: 4px;
  box-shadow: var(--shadow-md);
  padding: var(--space-8);
}

/* container classes */
.container-xs {
  max-width: 680px;
  margin: var(--space-4) auto;
}

.container-sm {
  max-width: 960px;
  margin: var(--space-4) auto;
}

.container-md {
  max-width: 1024px;
  margin: var(--space-4) auto;
}

/* table styles */
table {
  border-collapse: collapse;
  width: 100%;
  /* width: auto; */
  /* text-align: center; */
}

th,
td {
  /* padding: 8px; */
  /* padding: var(--space-4) var(--space-2); */
  padding: var(--space-2);
  /* text-align: left; */
  /* border: 1px solid #ddd; */
  border: 1px solid var(--color-gray-300);
  text-align: center;
}

table .table-actions {
  width: auto;
  /* width: var(--space-12); */
}

/* home page */
.home-section .action-btns {
  margin-top: var(--space-8);
}

/* service page */
.service-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-4);
  /* grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */

  margin: var(--space-8) auto;
}
.service-item {
  /* width: 400px; */
  overflow: hidden;
}

.service-item img {
  width: 100%;
  object-fit: cover;
}

.service-info {
  padding: var(--space-4);
  /* text-transform: ; */
}
.service-info h4 {
  font-size: var(--space-5);
}

/* dashboard page */
.dashboard-intro .profile {
  font-weight: 400;
  padding: var(--space-2);
}

.dashboard-intro .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-4);
  margin: var(--space-4) 0;
  /* text-align: left; */
}

.dashboard-intro .list li {
  padding: var(--space-2) var(--space-4);
}

.dashboard-intro .list h4 {
  font-size: var(--space-5);
}

/* donate page */
.donate-features {
  max-width: 30rem;
  margin: 0 auto;
  padding: var(--space-4) var(--space-12);

  /* list-style-type: disc; */
  text-align: left;
  font-weight: 500;
}

.donate-features li {
  margin: var(--space-4) 0;
}

/* predict-db page */
.predict-list li {
  display: flex;
  overflow: hidden;
}

.predict-list img {
  /* width: 100%; */
  width: 20rem;
}
.predict-details {
  margin: var(--space-1) var(--space-4);
  width: 100%;
  text-align: left;
}

.predict-details h4 {
  margin: var(--space-2) 0;
  /* margin: 0; */
}

#predict-result {
  /* list-style-type: disc; */
  list-style: square;
}
